/* 左方向無限スクロールアニメーションのキーフレーム */
@keyframes horizontalScroll {
  0% {
    background-position: 100% bottom;
  }
  100% {
    background-position: 0% bottom;
  }
}

/* ふわふわ上下アニメーションのキーフレーム */
@keyframes floatingAnimation {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 100vh;
  width: 100vw;

  .screen {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 640px;
    background-color: #000000;
  }

  .avatar {
    position: absolute;
    bottom: 15px;
    right: 100px;
    z-index: 1;
    height: 190px;
    animation: floatingAnimation 4s ease-in-out infinite; /* ふわふわアニメーション */
  }
}

.twinkle {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('/images/twinkle-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* twinkle-down.png画像を下のラインに配置 */
  .city {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 58%;
    display: flex;

    .cityImage {
      object-fit: cover;
      overflow: visible;
      object-position: right;
      height: 100%;
    }
  }
}
